.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header__logoContainer {
  display: flex;
  align-items: center;
}

.header__logoContainer > p {
  font-size: 52px;
  color: #5f6368;
  margin-left: 400px;
  font-weight: 600;

}

.header__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icons > * {
  margin-right: 20px;
  color: #3c4043;
}

.header__avatar {
  margin-right: -5px !important;
}

.header__icons > * {
  cursor: pointer;
}
